// Colors

$primary-color: #17181a;
$secondary-color: #f2f2f2;
$overlay-el-lvl-1-color: rgba(255, 255, 255, 0.01);
$button-color: #bb86fc;
$button-on-hover-color: #d7b7fd;

// Font-sizes

$p-font: 1.2rem;
$button-font: 1.2rem;
