@use "../abstracts/variables" as v;

body {
  background-color: v.$primary-color;
  color: v.$secondary-color;
}

main {
  background-color: v.$overlay-el-lvl-1-color;
  box-shadow: v.$main-overlay-shadow;
}

button {
  color: v.$button-color;
  border: none;
  background: none;
  &:hover {
    color: v.$button-on-hover-color;
  }
}
