#homepage {
  h1 {
    margin-bottom: 2rem;
    padding-top: 3rem;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    th {
      text-align: left;
      padding-bottom: 2rem;
    }
    td {
      padding: 2rem;
    }
    // Center the text inside the third column
    th:nth-child(3),
    tr td:nth-child(3) {
      text-align: center;
    }
  }
}
